@font-face {
    font-family: 'Edwardian Script ITC';
    src: url('../../image/font/edwardianscriptitc.ttf') format('truetype');
}

.titre {
    font-family: 'Edwardian Script ITC', cursive;
    font-size: 40px;
    letter-spacing: 5px;
}