@import '../../styles/responsive';

.box {
    border: 1px solid #03031efc;
    border-radius: 10px;
    box-shadow: 10px;
    h3 {
        font-size: 12px;
    }
}

.box1 {
    height: 23em;
}

.box2 {
    height: 12em;
}
.box6 {
    height: 22em;
}

.box7 {
    height: 13em;
}

.box3 {
    height:8em;
}

.box4 {
    height:8em;
}

.box5 {
    height: 0em;
}

@include sm {
    .box {
        h3 {
            font-size: 16px;
        }
    }
    .box5 {
        height: auto;
    }

    .box7 {
        height: 21em;
    }
}

@include md {
    .box {
        h3 {
            font-size: 17px;
        }
    }
    .box5 {
        height: auto;
    }

    .box7 {
        height: 21em;
    }
    
}

@include lg {
    .box {
        h3 {
            font-size: 22px;
        }
    }
    .box5 {
        height: 18em;
    }
    .box7 {
        height: 12em;
    }

    .box3{
        .link{
            font-size:15px;
        }
    }

    .box4{
        .link{
            font-size:15px;
        }
    }

}

@include xl {
    .box {
        h3 {
            font-size: 24px;
        }
    }
}
