.contenuConnexion {
    background: linear-gradient(1000deg, #020212e1, #020212df);
    min-height: 100vh; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}