.title{
    font-size: 15px;
    font-weight: 200;
}
div {
    font-size: 1em;
}
.iconePlus {
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #03031efc;
    color: white;
    font-size: larger;
}

.liText {
    margin-left: -15px;
}

span {
    font-size: 15px;
}