.styleSidebar {
  background-color: #03031efc;
  color: #adadad;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-right: 1px solid #918A31;
    
  
}

.sidebar-header {
  text-align: center;
}

.sidebar-title h1 {
  margin: 0;
}

.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.sidebar-menu ul li {
  display: flex; /* Utilise flexbox pour aligner les icônes et le texte */
  align-items: center; /* Aligne les éléments verticalement */
  padding: 15px 20px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  box-shadow: 10px 10px 100px transparent;
}

.sidebar-menu ul li:hover {
  background: linear-gradient( 1000deg,#918A31, #000121);
}

.sidebar-menu ul li.active {
  background-color: linear-gradient(to right,#918A31, #000121);
}

.sidebar-menu ul li a {
  color: inherit;
  text-decoration: none;
  display: flex; /* Aligne les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
}

.sidebar-menu ul li a span {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-menu i {
  font-size: 24px;
}
